#!/bin/bash

##### ALASTRIA CONFIGURATION

# Public IP 
IP=1.2.3.5
# Node name REG_Bloomen_TestNet_<COMPANY>_<INTERNAL_COMPANY_ID>
NODE_NAME=REG_Bloomen_TestNet_TEST_00

# Not change or add the new one to .gitignore
export CONFIG_DIR=$(readlink -f node_config)
export DATA_DIR=$(readlink -f node_data)

##### NGINX(LE CONFIG) CONFIGURATION

export TZ=Europe/Paris
export SSL_ENABLED=false
export LETSENCRYPT=false
export LE_EMAIL=my.email@demo.com
export LE_FQDN=my.domain.com
export PORTAL_USER=user
export PORTAL_PASSWORD=password
