#!/bin/bash

# Public IP 
IP=1.2.3.5
# Node name REG_Bloomen_TestNet_<COMPANY>_<INTERNAL_COMPANY_ID>
NODE_NAME=REG_Bloomen_TestNet_TEST_00

# Not change or add the new one to .gitignore
CONFIG_DIR=node_config
DATA_DIR=node_data

