#!/bin/bash

# Public IP 
IP=1.2.3.5
# Node name REG_Bloomen_TestNet_<COMPANY>_<INTERNAL_COMPANY_ID>
NODE_NAME=REG_Bloomen_TestNet_WLI_01

# Not change or add the new one to .gitignore
TODIR=volume_data

